
.pull-right{
  font-size:40px;
  font-family:monospace;
  color:#ffa64d;
  float: right;
  padding-right: 25px;
}


.form-signin-heading{
  padding:40px;
}
.form-group{
  text-align: center;
}
input[type=text],input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn btn-primary{
  text-align: center;
}
