
body{
  background-color: #c2c2d6;
}

.pull-right{
  font-size:40px;
  font-family:monospace;
  color:#bf4040;
  float: right;
  padding-right: 25px;
}

.form-signin-heading{
  padding:40px;
  padding-left: 10px;
}
.form-group{
  padding-left: 10px;
  padding-right: 400px;
}
